framework: auto-detect
source https://www.nuget.org/api/v2
nuget FSharp.Core
nuget FsUnit.xUnit
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 
nuget Microsoft.Net.Compilers
nuget Newtonsoft.Json
nuget Suave
nuget DotLiquid 
nuget System.ValueTuple 